.recurring-jobs { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.recurring-jobs .title { margin-bottom: 5px; }
.recurring-jobs .title .name { font-weight: bold;}
.recurring-jobs .info,
.recurring-jobs .description { margin-bottom: 5px; }
.recurring-jobs .actions { margin-bottom: 5px; }
.recurring-jobs .status,
.recurring-jobs .description { font-size: 12px; }
.recurring-jobs .enqueue { margin-bottom: 0.5rem }

.list-group-item {
  background-color: #f3f3f3;
  color: #585454;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-group-item-disabled {
  background-color: #f3d3d3;
}

@media (prefers-color-scheme: dark) {
  .list-group-item {
    background-color: #222;
    color: white;
    border: 1px solid #555;
  }
}
