section#brand.SectionBrand
  .container-cell
    .row
      .SectionBrand-moto
        | Lightweight job scheduler extension for Sidekiq
      .SectionBrand-rubies
        .SectionBrand-rubies-layer.SectionBrand-rubies__1(class="parallax", data-velocity=".5")
        .SectionBrand-rubies-layer.SectionBrand-rubies__2(class="parallax", data-velocity=".4")
        .SectionBrand-rubies-layer.SectionBrand-rubies__3(class="parallax", data-velocity=".3")
        .SectionBrand-rubies-layer.SectionBrand-rubies__4(class="parallax", data-velocity=".2")
      .SectionBrand-timer
        object
          embed(src='images/timer-static.svg')

    +link ("#why", "why")(class='SectionBrand-scroll')
      i.fa.fa-chevron-down
