section#using.SectionUsing
  .container-cell
    .row
      h2.SectionUsing-title
        | Using

      .SectionUsing-terminal
        .terminal-window
          header
            .terminal-button.green
            .terminal-button.yellow
            .terminal-button.red
          section.terminal
            p
              span.terminal-arrow
                i.fa.fa-long-arrow-right
              span.terminal-tilde
                | ~
              span.command
                | gem install sidekiq-scheduler
            p
              span.terminal-arrow
                i.fa.fa-long-arrow-right
              span.terminal-tilde
                | ~
              span.command
                | sidekiq




