section#why.SectionWay
  .container-cell
    .row
      .SectionWay-description
        .container-cell
          h2.SectionWay-title
            | Why Sidekiq Scheduler
          .SectionWay-description-paragraph
            p.SectionWay-description-paragraph-text
              | SidekiqScheduler is an extension to sidekiq that
              | allows you to schedule jobs to run at a given time
              | or at certain intervals, e.g. every day at 8 pm.
              |You can use cron syntax or “every: X day” syntax.

            p.SectionWay-description-paragraph-text
              | To use it in a rails application, add to you Gemfile:
              | gem 'sidekiq-scheduler', '~> 1’
              | and the execute:
              | sidekiq

      .SectionWay-diagram
        .container-cell
          img( src='images/diagram.svg')