include ../mixin.jade

footer.Footer
  .Footer-row
    .Footer-content
      +link('https://github.com/Moove-it/angus', 'Angus')(target='_blank')
        +image('ss_logo.svg')(class='sschedule')
      span(class='maintained') is maintained by
      +link('http://www.moove-it.com', 'moove-it')(target='_blank')
        +image('mooveit_logo.svg')(class='moove-it')