.sidekiq-scheduler .job-name {
  color: var(--color-primary);
  display: block;
  font-size: var(--font-size);
  font-weight: 700;
}

.sidekiq-scheduler .queue {
  text-align: right;
}

.sidekiq-scheduler .btn-xs {
  padding: 1px 5px;
  font-size: var(--font-size-small);
  line-height: 1.5;
}

.sidekiq-scheduler .description,
.sidekiq-scheduler .last-time,
.sidekiq-scheduler .next-time {
  font-size: var(--font-size-small);
}

.sidekiq-scheduler .description {
  padding-top: 10px;
}

.sidekiq-scheduler .inline {
  display: inline;
}

.sidekiq-scheduler .job-list .job {
  background-color: var(--color-elevated);
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 4px 0 var(--color-shadow);
  padding: 10px;
}

.sidekiq-scheduler .column-2 {
  float: left;
  width: 50%;
}

.sidekiq-scheduler .column-3 {
  float: left;
  width: 33.33%;
}

.sidekiq-scheduler .row:after {
  content: "";
  display: table;
  clear: both;
}

.sidekiq-scheduler .job.disabled-job {
  background-color: #f3d3d3;
  color: #585454;
}

@media (prefers-color-scheme: dark) {
  .sidekiq-scheduler .job.disabled-job {
    background-color: #4f0b0b;
  }
}

.sidekiq-scheduler .disabled-job .next-time {
  text-decoration: line-through;
}

@media screen and (max-width: 1000px) {
  .sidekiq-scheduler .column-2,
  .sidekiq-scheduler .column-3,
  .sidekiq-scheduler .description {
    width: 100%;
    padding: 5px 10px;
  }

  .sidekiq-scheduler .queue {
    text-align: left;
  }
}
