name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: 
        redis-version: ["~> 4.2", "~> 5"]
        ruby-version: ['2.7', '3.0', '3.1', '3.2']
        sidekiq-version: ['~> 6', '~> 7']
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    env:
      REDIS_VERSION: "${{ matrix.redis-version }}"
      SIDEKIQ_VERSION: "${{ matrix.sidekiq-version }}"
    steps:
      - uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with: 
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
